<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageT}}</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>This is help page motherfucker</p>
        <a href="/heroku">Heroku</a>
        {{> footer}}
    </body>
</html>